$color-body-bg: hsl(273, 0%, 15%);
$color-body-bg-dark: hsl(273, 0%, 12%);
$color-primary: hsl(260, 40%, 65%);
$color-primary-light: hsl(260, 40%, 75%);
$color-text: hsl(273, 0%, 85%);
$color-subtext: hsl(0, 0%, 75%);
$color-border: hsl(0, 0%, 20%);
$color-box-background: mix($color-primary, $color-body-bg-dark, 15%);

$color-comment: hsl(220, 20%, 60%); // Comments
$color-keyword: hsl(260, 40%, 75%); // Keywords
$color-operator: hsl(30, 70%, 70%); // Operators
$color-string: hsl(120, 40%, 70%); // Strings
$color-number: hsl(200, 70%, 70%); // Numbers
$color-function: hsl(260, 40%, 80%); // Functions
$color-variable: hsl(220, 40%, 70%); // Variables
$color-error: hsl(0, 70%, 70%); // Errors
$color-tag: hsl(30, 70%, 70%); // Tags
$color-attribute: hsl(200, 70%, 70%); // Attributes
$color-background-highlight: hsl(273, 0%, 20%); // Background

.highlight {
  background: hsl(273, 0%, 10%);
  padding: 1px 1em;
  border-radius: 3px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: auto;
  margin: 1em -1em;

  code {
    padding: 0;
  }
}

div.highlight {
  display: grid;
}

.highlight > * {
  font-family: Fira Code !important;
}

.highlight .c {
  color: $color-comment;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: $color-error;
  background-color: darken($color-error, 30%);
} /* Error */
.highlight .k {
  color: $color-keyword;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: $color-operator;
  font-weight: bold;
} /* Operator */
.highlight .cm {
  color: $color-comment;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: $color-comment;
  font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
  color: $color-comment;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: $color-comment;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .s {
  color: $color-string;
} /* Literal.String */
.highlight .m {
  color: $color-number;
} /* Literal.Number */
.highlight .na {
  color: $color-attribute;
} /* Name.Attribute */
.highlight .nb {
  color: $color-variable;
} /* Name.Builtin */
.highlight .nc {
  color: $color-function;
  font-weight: bold;
} /* Name.Class */
.highlight .nt {
  color: $color-tag;
} /* Name.Tag */
.highlight .nf {
  color: $color-function;
  font-weight: bold;
} /* Name.Function */
.highlight .nv {
  color: $color-variable;
} /* Name.Variable */
.highlight .ow {
  color: $color-operator;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: $color-text;
} /* Text.Whitespace */
